/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --green-400: hsl(176, 50%, 47%);
  --green-700: hsl(176, 72%, 28%);
  /* # NEUTRAL # */
  --black: hsl(0, 0%, 0%);
  --gray-500: hsl(0, 0%, 48%);
  /* # TYPOGRAPHY # */
  --ff-commissioner: "Commissioner", sans-serif;
  --fw-400: 400;
  --fw-500: 500;
  --fw-700: 700;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

input,
button {
  font: inherit;
}

picture,
img,
svg {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  background-color: unset;
  border: none;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

/* ### UTILITY CLASSES ### */

.container {
  width: 85%;
  margin-inline: auto;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.hide {
  display: none;
}

/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-commissioner);
  font-weight: var(--fw-400);
  color: var(--gray-500);
  font-size: 0.875rem;
}

h1,
h2,
h3 {
  color: var(--black);
  font-size: 1.3rem;
  font-weight: var(--fw-700);
}

p {
  line-height: 1.5;
}

/* ### CROWFUNDING PRODUCT ### */
/* # HEADER # */

header {
  background-image: url(./images/image-hero-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
}

.header-container {
  padding-top: 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu {
  display: none;
}

.desktop-nav {
  display: none;
}

/* ### MAIN ### */

main {
  background-color: #fafafa;
}

.crowfunding-section {
  display: grid;
  gap: 1.5rem;
  position: relative;
  top: -56px;
}

.crowfunding__intro,
.crowfunding__stats,
.crowfunding__about {
  background-color: #fff;
  box-shadow: 0px 4px 30px #dcdcdc87;
  border-radius: 0.4rem;
  padding: 2rem 1.5rem;
}

/* ## INTRO SECTION ## */

.crowfunding__intro {
  padding-top: 2.8rem;
  position: relative;
  text-align: center;
  display: grid;
  gap: 1.325rem;
}

.crowfunding__intro .mastercraft-logo-container {
  position: absolute;
  top: calc(56px / -2);
  left: 50%;
  transform: translateX(-50%);
}

.crowfunding__intro h1 {
  margin-top: 0.5rem;
}

.intro-btns-container {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.5rem;
}

.back-project-btn {
  color: #fff;
  background-color: var(--green-400);
  padding: 1rem 2rem;
  font-weight: var(--fw-500);
  font-size: 1.025rem;
  border-radius: 200px;
}

.bookmark-btn {
  background-color: #000;
  width: 50px;
  height: 50px;
  border-radius: 200px;
  background-image: url(./images/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* ## STATS SECTION ## */

.crowfunding__stats ul {
  display: grid;
  gap: 1rem;
}

.crowfunding__stats li {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  position: relative;
}

.crowfunding__stats li + li {
  padding-top: 1.3rem;
}

.crowfunding__stats li:nth-child(2):before,
.crowfunding__stats li:nth-child(3):before {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  border-top: 1px solid #d8d8d8;
  width: 70px;
  height: 1px;
}

.stat-number {
  font-size: 2rem;
  font-weight: var(--fw-700);
  color: var(--black);
}

.progress-bar {
  margin-top: 2rem;
  border-radius: 200px;
  height: 12px;
  background-color: #f4f4f4;
  overflow: hidden;
}

.progress-bar::after {
  content: "";
  display: block;
  background-color: var(--green-400);
  height: 12px;
  width: 89%;
  border-radius: 200px;
}

/* ### ABOUT SECTION ### */

.crowfunding__about {
  display: grid;
  gap: 1.5rem;
}

.about__intro h2 {
  font-size: 1.1rem;
}

.about__intro,
.about__rewards-container {
  display: grid;
  gap: 1.5rem;
}

.reward {
  border: 1px solid #dbdbdb;
  border-radius: 0.4rem;
  padding: 1.5rem 1.3rem;
  display: grid;
  gap: 1.2rem;
  position: relative;
}

.reward__header > * {
  font-size: 0.9rem;
}

.reward-subtitle {
  margin-top: 0.4rem;
  font-weight: var(--fw-500);
  color: var(--green-400);
}

.reward__footer {
  display: grid;
  gap: 1.2rem;
}

.days-left {
  display: flex;
  align-items: center;
  font-weight: var(--fw-500);
}

.reward-number-left {
  margin-right: 0.4rem;
  font-size: 1.8rem;
  color: var(--black);
  font-weight: var(--fw-700);
}

.select-reward-btn {
  background-color: var(--green-400);
  color: #fff;
  padding: 1rem 2.2rem;
  justify-self: start;
  border-radius: 200px;
  font-weight: var(--fw-500);
}

.reward.disabled {
  filter: opacity(50%);
}

.select-reward-btn.disabled {
  background-color: #cbcbcb;
}

/* ### SELECTION MODAL ### */

.selection-modal {
  top: 8rem;
  width: 90%;
  margin-inline: auto;
  padding: 1.8rem 1.325rem;
  color: var(--gray-500);
  display: grid;
  gap: 1.2rem;
}

.selection-modal__header {
  display: grid;
  gap: 1.6rem;
}

.selection-modal h2 {
  font-size: 1.325rem;
}

.modal-reward {
  border: 1px solid #dbdbdb;
  border-radius: 0.4rem;
  padding: 1.5rem 1.3rem;
  display: grid;
  gap: 1.2rem;
}

.modal-reward__header {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1rem;
}

.selection-modal input[type="radio"] {
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 200px;
  border: 1px solid #dbdbdb;
  display: grid;
  place-content: center;
}

.selection-modal input[type="radio"]::after {
  content: "";
  display: none;
  width: 12px;
  height: 12px;
  background-color: var(--green-400);
  border-radius: 200px;
}

.selection-modal input[type="radio"]:checked::after {
  display: block;
}

.title-container {
  font-weight: var(--fw-500);
}

.title-container h3 {
  font-size: 1.1rem;
}

.title-container .subtitle {
  color: var(--green-400);
}

.selection-modal .days-left-container {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.selection-modal .days {
  font-size: 1.325rem;
  font-weight: var(--fw-700);
  color: var(--black);
}

.pledge-dropdown .wrapper {
  padding-top: 1.5rem;
  position: relative;
  display: grid;
  gap: 1rem;
}

.pledge-dropdown .wrapper::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -1.3rem;
  width: calc(100% + (2 * 1.3rem));
  height: 2px;
  background-color: #eee;
}
.pledge-dropdown h3 {
  font-size: 1rem;
  color: var(--gray-500);
  font-weight: var(--fw-500);
  text-align: center;
}

.pledge-dropdown__cta {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  margin-top: 1rem;
}

.pledge-dropdown__cta .input-container {
  position: relative;
}

.pledge-dropdown__cta .input-container::after {
  content: "$";
  font-size: 0.975rem;
  display: block;
  position: absolute;
  top: 50%;
  color: #dbdbdb;
  font-weight: var(--fw-700);
  left: 1.6rem;
  transform: translateY(-50%);
}

.pledge-dropdown__cta input {
  width: 100%;
  font-weight: var(--fw-700);
  border-radius: 200px;
  border: 1px solid #dbdbdb;
  padding: 1rem 1.5rem 1rem 2.5rem;
  font-size: 0.975rem;
}

.pledge-dropdown__cta button {
  background-color: var(--green-400);
  color: #fff;
  font-weight: var(--fw-700);
  border-radius: 200px;
  font-size: 0.975rem;
}
